/* css styles */

.navbar {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.85rem;
  min-height: 36px;
}

.navbar-brand {
  padding-left: 0;
  margin-left: 0;
}

.navbar > .container-fluid {
  padding-left: 10rem;
  padding-right: 12rem;
}

.about-contents p,
.about-contents li {
  font-size: 0.9rem !important;
  font-weight: normal !important;
  line-height: 1.6;
}

.about-entity {
  font-size: 0.9rem;
}

h1.title {
  font-size: 1.2rem;
  font-weight: 600;
}

#quarto-content .about-entity {
  padding-left: 0rem !important;
  margin-left: 0 !important;
}

#quarto-content .about-contents {
  padding-right: 0rem !important;
}

.navbar-nav .nav-link {
  font-size: 0.85rem !important;
  font-weight: normal !important;
}

.about-entity p {
  font-size: 1rem !important;
  color: #888 !important;
}

.quarto-post .thumbnail img {
  filter: grayscale(100%);
  opacity: 0.75;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.quarto-post .thumbnail img:hover {
  filter: grayscale(0%);
}

.navbar-nav .nav-link:hover {
  color: yellow !important;
}

.navbar-nav .nav-link.active {
  color: yellow !important;
}

.navbar-brand:hover {
  color: yellow !important;
}

.quarto-title-banner {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  min-height: 0 !important;
}
